.todolistContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.headerTodolistContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.todolistWrapper {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 0 10px;
}

.todolistHeader {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.title {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingLinear {
  height: 4px;
}
.addTask {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}