.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: #f0ffff9e;
}
.wrapperDescription {
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: azure;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 0 7px -3px #bebebe;
}
.wrapperDescription .closeDescription {
  position: absolute;
  top: 0;
  right: 0;
}
.taskHeader {
  width: 90%;
  display: flex;
  margin-bottom: 9px;
  flex-direction: column;
}
.taskHeader span {
  padding-top: 4px;
}
.title {
  margin-right: 20px;
  font-size: 1.3em;
}
.taskAdded {
  font-size: 12px;
}
.taskDescriptionInput {
  width: 90%;
  height: 150px;
}
.deadlineWrapper {
  display: flex;
  align-items: center;
}
.deadlineInputContainer {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deadlineInputContainer input {
  position: absolute;
  width: 18px;
  height: 30px;
  z-index: 2;
  opacity: 0;
}
.deadlineWrapper .deadlineCalendarIcon {
  position: absolute;
  padding: 0;

  z-index: 0;
  cursor: default;
}