.wrapper {
  min-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 0 10px;
  border-radius: 5px;
  background: #bebebe;

}
.statusLoading {
  opacity: .5;
}
.high {
  background: red;
}
.middle {
  background: orange;
}
.low {
  background: #d4d4d4;
}